/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%; 
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card mat-card-title {
  line-height: 1.6;
}

.longtitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
  cursor: pointer;
}



.snack-logout {
  color: rgb(255, 255, 255);
}

.snack-login {
  color: rgb(255, 255, 255);
}
.snack-wrong {
  background-color: red;
  color: rgb(255, 255, 255);
}

.snack-create {
  color: rgb(255, 255, 255);
}

.snack-login .mat-simple-snackbar {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  opacity: 1;
}

.snack-logout .mat-simple-snackbar {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  opacity: 1;
}

.snack-wrong .mat-simple-snackbar {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  opacity: 1;
}

.snack-create .mat-simple-snackbar {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  opacity: 1;
}