<h1>Registration</h1>




<mat-stepper
  class="example-stepper"
  [orientation]="(stepperOrientation | async)!"
>
  <mat-step [stepControl]="firstFormGroup" label="Fill out your name">
    <form [formGroup]="firstFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input
          matInput
          
          formControlName="firstCtrl"
          required  #nname
        />
        <mat-error  *ngIf="!nname.value">Please fill out the name</mat-error>

      </mat-form-field>
      <div>
        <button mat-button matStepperNext [disabled]="!nname.value">Next</button>
      </div>
    
    </form>
  </mat-step>
  <mat-step [stepControl]="phone" label="Fill out your phone number">
    <form [formGroup]="phone">
      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <app-pho formControlName="myphone" required #nnum></app-pho>
        <mat-icon matSuffix style="margin-left: 1rem">phone</mat-icon>
        <mat-hint>Include area code</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" label="Fill out your password">
    <form [formGroup]="thirdFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        
        <input matInput formControlName="thirdCtrl" required type="password" #pass/>
        <mat-hint >passwords should match</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="thirdCtrl_val" required type="password" #passv/>
      
      <mat-error *ngIf="pass.value != passv.value" >passwords dont match </mat-error>
      </mat-form-field>
      <div>
        <div> 
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="!(pass.value == passv.value)" #nnext>Next</button>
       </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Send your filled registration</p>
    <button mat-raised-button (click)="sendRegist()" [disabled]="!(nnum.value && nname.value && pass.value && passv.value) ">Send</button>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-stepper>
