<div style="position: relative">
  <button mat-icon-button class="closeBTN" (click)="onNoClick()">X</button>

  <mat-toolbar color="primary">
    <span class="fill-remaining-space"> Sign Up </span>
  </mat-toolbar>

  <div class="container">
    <form
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit(formGroup.value)"
      class="form"
      novalidate
    >
      <mat-form-field appearance="fill" class="form-element">
        <mat-label>Phone number</mat-label>
        <app-pho
          class="inputC"
          formControlName="myphone"
          required
          #tel
        ></app-pho>
        <mat-icon matSuffix style="margin-left: 1.4rem">phone</mat-icon>
        <mat-hint
          *ngIf="
            !myphone?.hasError('alreadyTaken') &&
            !myphone?.hasError('numberpass')
          "
          >Include country code</mat-hint
        >
        <mat-error *ngIf="!myphone.valid && myphone.dirty">
          {{ getErrorPhone() }}
        </mat-error>

        <mat-hint
          *ngIf="myphone?.hasError('alreadyTaken')"
          style="color: red !important; font-size: x-small"
        >
          Phone number is already in use
        </mat-hint>

        <mat-hint
          *ngIf="myphone?.hasError('numberpass')"
          style="color: red !important; font-size: x-small"
        >
          Number is not valid phone number
        </mat-hint>

        <mat-error *ngIf="tel.errorState" style="text-align: left"
          >Wrong format +XXX 444 556677
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Name" formControlName="name" />
        <mat-hint> Minimum 3 and maximum 15 characters long</mat-hint>
        <mat-error *ngIf="!name.valid && name.touched">
          {{ getErrorName() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input
          matInput
          placeholder="Password"
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        
      <button
      mat-icon-button
      matSuffix
      style="margin-left: 1rem"
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
      type="button"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
        <mat-hint>Choose a reliable password to ensure security</mat-hint>
        <mat-error
          *ngIf="
            !formGroup.controls['password'].valid &&
            formGroup.controls['password'].touched
          "
        >
          {{ getErrorPassword() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="password_valid"
          [type]="hide2 ? 'password' : 'text'"
        />

        <button
        mat-icon-button
        matSuffix
        style="margin-left: 1rem"
        (click)="hide2 = !hide2"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide2"
        type="button"
      >
        <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
      </button>


        <mat-hint>Passwords must match </mat-hint>
        <mat-error
          *ngIf="
            !formGroup.controls['password_valid'].valid &&
            formGroup.controls['password_valid'].touched
          "
        >
          {{ getErrorPassword_val() }}
        </mat-error>
      </mat-form-field>

      <div class="form-element">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="button"
          [disabled]="!formGroup.valid"
        >
          Sign up
        </button>
      </div>
    </form>
  </div>
</div>
