<div class="main">
  <div class="flex-container">
    <!-- <mat-checkbox class="example-margin" (click)="refresh(checked)" [(ngModel)]="checked">Ratting sort</mat-checkbox> -->
    <mat-slide-toggle
      class="example-margin"
      (click)="refresh(checked)"
      [(ngModel)]="checked"
      style="color: #d6d3d1"
      >Sort by rating</mat-slide-toggle
    >
    <form class="example-form">
      <mat-form-field class="example-full-width" style="padding: 1rem">
        <span matPrefix> </span>
        <input
          type="tel"
          matInput
          style="color: #d6d3d1 !important"
          name="search"
          [(ngModel)]="search"
        />
        <button matSuffix mat-button style="color: #d6d3d1 !important">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <br />
      {{ search }}
    </form>
  </div>

  <div class="cardsWrap">
    <div *ngFor="let service of services" style="white-space: normal">
      <mat-card class="card">
        <mat-card-title style="text-overflow: ellipsis; overflow: hidden; font-size:large;">{{
          service.title
        }}</mat-card-title>
        <mat-divider inset></mat-divider>
        <hr />
        <mat-card-content>
          <p>
            Offeror:
            
            <button mat-raised-button 
            style="margin-left: 0.8rem;background-color:#0382c7 ; color: #d6d3d1;  border-radius: 50px 50px;"
              routerLink="/user-service/{{ service.user_id }}"
              class="clickable"
              > <mat-icon style="margin-right: 0.3rem;">person</mat-icon> <b>{{ service.user }}</b></button
            >
          </p>
          <span>
           <mat-icon>phone</mat-icon> <b  style="margin-left: 0.8rem;" >{{ service.phone }}</b>
          </span>

          <div style="margin-top: 1rem" *ngIf="service.estimate != null; else estimateIsNull">
            <p style="margin-top: 1rem"  *ngIf="service.estimate != 0; else estimateIsZero">
              Estimate time for this service
              <span style="margin-top: 1rem"  *ngIf="service.estimate == 1; else elseAre">is</span>
              <ng-template #elseAre>are</ng-template> <strong> {{ service.estimate }}</strong>
              <span *ngIf="service.estimate == 1; else elseHours"> hour.</span>
              <ng-template #elseHours> hours.</ng-template>
            </p>
            <ng-template #estimateIsZero
              ><p>Estimate time is not available.</p></ng-template
            >
          </div>
          <ng-template #estimateIsNull>
            <p>Estimate time is not available.</p>
          </ng-template>
          <hr />
          <div class="starratting">
            <star-rating
              [value]="service.avg_rating"
              [totalstars]="5"
              checkedcolor="#ffd740"
              uncheckedcolor="black"
              size="18px"
              [readonly]="true"
            ></star-rating>
          </div>
          <mat-card-actions style="display: flex; justify-content: flex-end">
            <button
              mat-raised-button
              style=" background-color:#0382c7 ; color: #d6d3d1;  border-radius: 50px 50px;"
              routerLink="/order/{{ service.id }}"
            >
              <mat-icon style="margin-right: 0.3rem;">shopping_cart </mat-icon>
              <span> Order </span>
            </button>
          </mat-card-actions>
        </mat-card-content>
        <!-- <mat-divider inset></mat-divider> -->
      </mat-card>
    </div>
  </div>
</div>
