
.clickable {
    cursor: pointer;
    text-decoration: none;
}

.main {
    height: 100%;
    padding-bottom: 100px;
}

.card {
    width: 400px;
    background-color: rgb(215, 200, 252);
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 0 5px 5px rgb(100, 99, 99);
    float: left;
}

.card:hover {
    box-shadow: 0 1px 1px rgb(100, 99, 99);
}

.next {
    position: relative;
    float: right;
    color:rgb(161, 149, 192);
    font-size: 1.5rem;
}

.next p {
    position: relative;
    float: left;
    top: 15px;
    margin-bottom: 0px;
}

.arrow {
    font-size: 2rem;
    padding: 10px 0;
}
/* .example-section {
     
    align-content: center;
    /* align-items: center; */
    /* height: 60px;
    /* align-items: flex-end; */
    /* align-items: center; */
    
  /* }
  .example-margin {
    margin: 10px;
    width:100%;
    align-content: center;
  } */ 

  .flex-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 2% 5% 0 0;
  }
