.main {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    margin-top: 50px;
}

.card {
    width: 400px;
    background-color: rgb(215, 200, 252);
    margin-top: 5%;
    box-shadow: 0 5px 5px rgb(100, 99, 99);
    display: inline-block;
}

.send-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notice {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 16px;
}

.back {
    position: relative;
    float: left;
    color: rgb(161, 149, 192);
    font-size: 1.5rem;
    left: -10px;
}

.back span {
    position: relative;
    float: right;
    top: 15px;
    left: 5px;
    margin-bottom: 0px;
}

.back.arrow {
    float: right;
}

.order {
    position: relative;
    float: right;
    background: #FFF;
    color: rgb(161, 149, 192);
    font-size: 1.5rem;
    padding: 0 10px 5px 10px;
    /* border: 2px solid #FFF; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.order span {
    position: relative;
    float: left;
    top: 15px;
    margin-bottom: 0px;
}

.arrow {
    font-size: 2rem;
    padding: 10px 0;
}