<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  aria-label="Example icon-button with a menu"
>
  <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before">
  <!-- <button mat-menu-item (click)="routeToProfile()">
    <mat-icon>face</mat-icon>
    <span>Profile</span>
  </button> -->
  <button mat-menu-item (click)="routeToMyServices()">
    <mat-icon>home</mat-icon>
    <span><a [routerLink]="['/my-services']" routerLinkActive="activatedmenu">My services</a></span>
  </button>
  <button mat-menu-item (click)="routeToServices()">
    <mat-icon>list</mat-icon>
    <span><a [routerLink]="['/services']" routerLinkActive="activatedmenu">All services</a></span>
  </button>
  <button mat-menu-item (click)="routeToOrders()">
    <mat-icon>shopping_cart</mat-icon>
    <span><a [routerLink]="['/service-register']" routerLinkActive="activatedmenu">Orders</a></span>
  </button>
  <button mat-menu-item (click)="routeToCreateService()">
    <mat-icon>add_circle_outline</mat-icon>
    <span><a [routerLink]="['/create-service']" routerLinkActive="activatedmenu">Create service</a></span>
  </button>
</mat-menu>
