<div class="main" >
	<div class="divider">
        <p>{{noServices}} <a routerLink="/create-service">{{pleaseCreate}}</a></p>
    </div>
    <div class="timeaccount">
        <div *ngFor="let user of users">
            <span [(ngModel)]="user_id" ngDefaultControl><p *ngIf="user_id == user.id">Your actual time account is <b>{{user.time_account}}</b>
            <span *ngIf="user.time_account == 1; else elseHours"> hour.</span>
            <ng-template #elseHours> hours.</ng-template>
            </p></span>
        </div>
    </div>
    <div *ngFor="let service of userservices">
        <mat-card class="card">
            <mat-card-title>
                <div *ngIf="service.title.length > 35; else shortTitle">
                    <div [ngClass]="{'longtitle': longTitle}" (click)="showLongTitle()">{{ service.title }}</div>
                </div>
                <ng-template #shortTitle>{{service.title}}</ng-template>
            </mat-card-title>
            <mat-divider inset></mat-divider>
            <br />
            <mat-card-content>
                <p>
                    Name: <b>{{service.user_name}}</b>
                </p>
                <p>
                    Phone: <b>{{ service.phone }}</b>
                </p>

                <div *ngIf="service.estimate != null; else estimateIsNull">
                    <p *ngIf="service.estimate != 0; else estimateIsZero">
                        Estimate time for this service is {{ service.estimate }}
                        <span *ngIf="service.estimate == 1; else elseHours">hour.</span>
                        <ng-template #elseHours>hours.</ng-template>
                    </p>
                    <ng-template #estimateIsZero>
                        <p>Estimate time is not available.</p>
                    </ng-template>
                </div>
                <ng-template #estimateIsNull>
                    <p>Estimate time is not available.</p>
                </ng-template>

                <div class="starratting">
                    <star-rating [value]="service.rating" [totalstars]="5" checkedcolor="red" uncheckedcolor="black"
                        size="18px" [readonly]="true"></star-rating>
                </div>
                <a routerLink="/my-services/edit/{{ service.service_id }}">
                    <span class="next">
                        <p>Edit</p>
                        <mat-icon class="arrow" aria-label="arrow_forward_ios">arrow_forward_ios</mat-icon>
                    </span>
                </a>
            </mat-card-content>
            <!-- <mat-divider inset></mat-divider> -->
        </mat-card>

    </div>


<div class="divider">
    <p><b>{{endedServices}}</b></p>
</div>
<div *ngFor="let record of records">
    <div>
        <mat-card class="card" >
                <mat-card-title>
                    <div *ngIf="record.title.length > 35; else shortTitle">
                        <div [ngClass]="{'longtitle': longTitle}" (click)="showLongTitle()">{{record.title }}</div>
                    </div>
                    <ng-template #shortTitle>{{record.title}}</ng-template>
                </mat-card-title>
                <mat-divider inset></mat-divider>
                <br />
                <mat-card-content  >
                 <div *ngFor="let user of users">
                    <p *ngIf="record.consumer_id == user.id"  >
                        Consumer: <b >{{user.user_name}}</b>
                    </p>
                </div>
                    <p>
                        Hours: <b>{{ record.hours }}</b>
                    </p>
                    <p>
                        Date: <b>{{ record.end_time  | date: "dd/MM/yyyy" }}</b>
                    </p>
                    <div class="starratting">
                        <star-rating [value]="record.rating" [totalstars]="5" checkedcolor="red" uncheckedcolor="black"
                            size="18px" [readonly]="true"></star-rating>
                    </div>
                </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="spacer"></div>
</div>