.firstBar {
  height: 3rem;
}

.secondBar {
  height: 3rem;
}

a,
a:visited {
  color: #fff;
  text-decoration: none;
}

.divider {
  padding: 10px;
}

.logo {
  display: block;
  width: 8rem;
  margin-left: 2.5rem;
}

.loggeduser {
  position: relative;
  font-size: 0.8rem;
  top: 1px;
}

.example-spacer {
  flex: 1 1 auto;
}
