<nav>
  <mat-toolbar class="mat-toolbar mat-primary firstBar">
   
    <a routerLink="/"
      ><img class="logo" src="/assets/img/logo.svg" alt="Timebank"
    /></a>

    <span class="example-spacer"></span>
    <ng-container *ngIf="switchBtn()"> 
      <!-- <button mat-button (click)="routeToProfile()">profile</button> -->
      <button mat-button (click)="routeToMyServices()">My services</button>
      <button mat-button (click)="routeToServices()">All services</button>
      <button mat-button (click)="routeToOrders()">Orders</button>
      <button mat-button (click)="routeToCreateService()">Create service </button>
       </ng-container>  
    <span class="example-spacer"></span>


    <div>
      <a routerLink="/userhome" *ngIf="!switchBtn()"
        ><app-login-btn *ngIf="!switchBtn()"></app-login-btn
      ></a>

      <span *ngIf="switchBtn()" class="loggeduser">{{ userName | async }}</span>

      <app-menu-btn *ngIf="switchBtn()"></app-menu-btn>

      <a routerLink="" *ngIf="switchBtn()"><app-logout-btn></app-logout-btn></a>
    </div>
 



  </mat-toolbar>
</nav>
