<nav>
    <mat-toolbar class="mat-toolbar mat-primary">
        
        <a routerLink="/"><img class="logo" src="/assets/img/logo.svg" alt="Timebank" /></a>
        <span class="spacer"></span>
        <a routerLink="/create-service"><span>Create service</span></a>
        <span class="divider">|</span>
        <a routerLink="/services"><span>Services</span></a>
        <span class="divider">|</span>
        <a routerLink="/service-register"><span>Service register</span></a>
        <span class="divider">|</span>
        <a routerLink="/create-service" *ngIf="!switchBtn()"><span></span><app-login-btn></app-login-btn></a>
        <a routerLink="" *ngIf="switchBtn()"><span class="loggeduser">{{user_name}}</span><app-logout-btn></app-logout-btn></a>
   
    </mat-toolbar>
</nav>