<div class="main">
  <mat-card class="card">
    <mat-card-title>Create a new service</mat-card-title>
    <mat-divider inset></mat-divider>
    <br />
    <mat-card-content>
      <span><b>Title: </b> </span>
      <input
        class="title"
        type="text"
        [(ngModel)]="title"
        value="{{ title }}"
        maxlength="1000"
      />
      <br />
      <br />
      

      <p>
        Name:<b> {{ obj_user_name }}</b>
      </p>
      <p>
        Phone: <b>{{ obj_phone }}</b>
      </p>
      <span>Estimate hours: </span>
      <input
        type="number"
        (keypress)="omit_special_char($event)"
        [(ngModel)]="estimate"
        value="{{ estimate }}"
      />
      <br />
      <mat-error *ngIf="emptyInputError"> All fields are requried! </mat-error>
      <span class="next" (click)="addNewOffer()"
        ><p>Create new service</p>
        <mat-icon
          class="arrow"
          aria-label="arrow_forward_ios"
          (click)="addNewOffer()"
          >arrow_forward_ios</mat-icon
        >
      </span>
    </mat-card-content>
  </mat-card>
</div>
