<div class="main">

    <mat-card class="card">
        <mat-card-title>Update my service</mat-card-title>
        <mat-divider inset></mat-divider>
        <br />
        <mat-card-content>
            <span><b>Title: </b> </span>
            <input class="title" type="text" [(ngModel)]="title" value="{{ title }}" maxlength="1000" />
            <br />
            <br />
            <p>Name:<b> {{ user_name }}</b></p>
            <p>Phone:<b>{{ phone }}</b></p>
            <span>Estimate hours: </span>
            <input type="number" min="0" max="30" (keypress)="omit_special_char($event)" [(ngModel)]="estimate"
                value="{{ estimate }}" />
            <br />
            
            <span class="error" *ngIf="estimate == 30">Max value of  estimate hours is 30</span>
            <mat-error *ngIf="emptyInputError"> Title field is requried! </mat-error>
            <br>
            <a class="back" routerLink="../..">
                <mat-icon class="arrow" aria-label="arrow_back_ios_new">arrow_back_ios_new</mat-icon>
                <span>back</span>
            </a>
            <span class="next" (click)="updateService()">
                <p>Update my service</p>
                <mat-icon class="arrow" aria-label="arrow_forward_ios" (click)="updateService()">arrow_forward_ios
                </mat-icon>
            </span>
        </mat-card-content>
    </mat-card>
</div>