<div class="main">
    
    <div *ngFor="let userservice of userservices">
        
            <mat-card class="card">
                <mat-card-title>{{userservice.title}}</mat-card-title>
                <mat-divider inset></mat-divider>
                <br>
                <mat-card-content >
                    <p>Name:<b>{{userservice.user_name}}</b></p>
                    <p>Phone: <b>{{userservice.phone}}</b></p>
                    <a routerLink="/order/{{userservice.service_id}}">
                        <span class="next"><p>I want it!</p>
                        <mat-icon class="arrow" aria-label="arrow_forward_ios">arrow_forward_ios</mat-icon>
                    </span>
                    </a>
                </mat-card-content>
                
            </mat-card>
        
    </div>
</div>

