.clickable {
    cursor: pointer;
}
.main {
    margin-top: 5%;
    margin-left: 5%;
    padding-bottom: 100px;
}

.card {
    width: 400px;
    background-color: rgb(215, 200, 252);
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 0 5px 5px rgb(100, 99, 99);
    display: inline-block;
}

.send-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.next {
    position: relative;
    float: right;
    color: rgb(161, 149, 192);
    font-size: 1.5rem;
}

.next p {
    position: relative;
    float: left;
    top: 15px;
    margin-bottom: 0px;
}

.arrow {
    font-size: 2rem;
    padding: 10px 0;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.error {
    color: red;
}